Example of .env file


APP_ENV={env}
APP_DEBUG={debug}
APP_KEY={key}
APP_TIMEZONE={timezone}

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION={db_connection}
DB_HOST={db_host}
DB_PORT={db_port}
DB_DATABASE={db_database}
DB_USERNAME={db_user}
DB_PASSWORD={db_pass}

CACHE_DRIVER=file
QUEUE_DRIVER=sync
